# Put your discord token here (required)
DISCORD_TOKEN=secret-token


# Setting up limit configuration per action
# You must follow this format: Max/Time
CREATE_LIMIT=2/5m
DELETE_LIMIT=2/5m
UPDATE_LIMIT=3/5m


# If any of update/delete/create has executed the limit below
# The bot will cleanup the server and ban the suspected users
# Notice: This configuration is global. means if someone do something and other do more the bot will ban them anyways.
# You must follow this format: Max/Time
GLOBAL_LIMIT=15/1m

# If webhook has executed the limit below or mention @everyone
# The bot will delete that webhook and it's messages
# You must follow this format: Max/Time
HOOK_SPAM_LIMIT=3/5s


# If an admin has executed the limit below the bot will punish that admin
# You must follow this format: Max/Time
USER_SPAM_LIMIT=30/30s

# Ignored IDs. The bot will NOT punish nor interact with them.
# I recommend you to add your alt user id and some famous discord bots in here
# Notice: If the global limit has executed. Those ignored IDs will be useless
IGNORED_IDS=1234567890,0987654321


# -------------------- (Advanced) -----------------------

# Some hosting providers requires the app to listen for incoming http requests
HTTP_SERVER_ENABLED=true


# Alert you privately in DM when someone has executed x
# I recommend you to do NOT disable this, unless you do some testing
DIRECT_MESSAGE_ALERTS=true